#jobs_create_main_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#jobs_create_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

.field {
  padding: 7px 0;
}

.field_label {
  font-size: large;
}

.field_value {
  margin: 0 0 0 5px;
  padding: 2px;
  font-weight: bold;
}
