#display_my_name .inputs {
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

#display_my_name .inputs .textValue {
  margin: 0 10px;
}

#display_my_name .inputs .clearButton {
  margin: 0 10px;
}

#display_my_name .inputs .clearButton {
  margin: 0 10px;
}

#display_my_name .name {
  font-size: 20px;
}